table {
	width: 100%;
	text-align: left;
	font-size: $table-font-size;
	border-collapse: collapse;

	> caption {
		text-align: left;
		font-family: $heading-font-family;
		font-size: map-get($heading-font-size, h3);
		font-weight: 700;
		color: $yellow;
		margin-bottom: 20px;
	}
	thead tr th {
		background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
		// background-color: darken($blue, 10%);
		color: $table-color;
		padding: 5px 0 5px 0;
		font-size: 1.21rem;
	}
	> thead, tbody {
		> tr {
			 color:$table-color;
			 background-color: $dark-blue;
			 &:nth-child(odd) {
			 	background-color:$blue;
			 }
			 &:hover {
			 	background-color: transparentize(darken($yellow,5), .2);
			 }
			 th, td {
			 	padding: 10px;
			 	border-bottom:  1px doted $dark-blue;
			 }
		}
	}
}